body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    background-color:white; }

h1{font-face:2.5 em
}
h2 {font-face:2 em;}
h1{color:royalblue;}

a:link{
    color:magenta;
}
a:visited {
    color:skyblue;
}

nav{display:block; background-color:white;}

nav a{color:magenta;}
nav a:hover {background-color:yellow;color:magenta;}

nav{padding:10px}
nav{margin-bottom:30px}


footer{border-top: 1 px solid #c9cbd0}

@media only screen and (max-width:600px)
    {nav a{
        display:block;
        float:none;
        width:100%;
        align-content:space-between}
    span{display:none;}
    }
