#skip{
    position:absolute;
    left: -999px;
    background-color:chartreuse;
    }
        /* positions the element relative to its parent */
        /* # sign before selector means youre seslecting by id*/

#skip:focus{left:100px;}

body {font-family: 'Readex Pro', sans-serif;font-size:16px; background-color:white;}

h1{font-size:3em; color:#ff006e;}
h2 {font-size:1.5em;}
footer{color:#2929FF;}

a:link{
    color: #000;;
}
a:visited {
    color:#2929FF;
}

nav{
    display:flex;
    justify-content: end; 
    background-color:white;
    font-size:1em;}

nav a{color:#ff006e;}


footer{border-top: 1 px solid #c9cbd0}
.footer {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background: blue; 
    color:white;
}

#navlinks a:hover{background: linear-gradient(90deg,pink 0%, red 100%); border-radius:.5em; color:white;}
.active{background-color:yellow}

@media only screen and (max-width:768px){
    nav{
        overflow:hidden;
        position:relative;
    }
    #navlinks {
        display:flex;
        flex-direction:column;
        position:fixed;
        font-size:1.5em;
        align-content:space-between;
        display:none;
        margin-right: 40px;

    }
    #navlinks a:hover{background: linear-gradient(90deg,pink 0%, red 100%); border-radius:.5em; color:white;}
    span{display:none;}
    .hamburger{display:block;} 
}
 
@media only screen and (min-width:768px){
    .hamburger{display:none;}
    #navlinks{display:flex; flex-direction: row; justify-content: flex-end;}
    #navlinks a{margin-right:5px; margin-left:5px;}
}      
