body {font-family: 'Readex Pro', sans-serif;font-size:16px; background-color:white;}

h1{font-face:2; color:#ff006e;}
h2 {font-face:1.5 em;}
footer{color:#2929FF;}

a:link{
    color: #000;;
}
a:visited {
    color:#2929FF;
}

nav{display:block; background-color:white;
    font-face:1em;}

nav a{color:#ff006e;}
nav a:hover{
    background: linear-gradient(90deg,pink 0%, red 100%);
    border-radius:.5em;
    color:white;}

footer{border-top: 1 px solid #c9cbd0}

@media only screen and (max-width:600px)
    {nav a{
        display:block;
        float:none;
        width:100%;
        align-content:space-between}
    span{display:none;}
    }
